<div id="footer" class="footer">
    <div class="footer-inner container">
        <div class="row">
            <div class="col-md-4">
                <p class="copyright">UserAgent.js由<a href="https://github.com/fex-team">fex-team</a>团队负责维护</p>
                <p>&copy;2016-2018 Baidu Fex Team</p>
            </div>
            <div class="col-md-4">
                <!-- <p>友情链接</p> -->
                <ul class="friends-links">
                    <li><a href="http://fis.baidu.com/" title="前端集成解决方案">FIS3</a></li>
                    <li><a href="http://h5.baidu.com/" title="百度H5">百度H5</a></li>
                    <li><a href="http://naotu.baidu.com/" title="百度脑图">百度脑图</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="weixin">
                    <img src="{{ site.baseurl }}/images/qrcode.jpg" alt="..." class="img-rounded weixin-img" />
                    <p>微信公共帐号</p>
                </div>
            </div>
        </div>
    </div>
</div>